// font families
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap')
    
// resests
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: inherit

body
    box-sizing: border-box
    font-size: 100%
    font-family: 'Roboto Condensed', sans-serif

// variables 
$orange-red: #E76F51
$grey: #E0E0E0 
$light-blue: #0084FF

// classes
.display-block
    display: block !important

.display-flex
    display: flex !important

.display-none
    display: none !important

// actual styling