// font families
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap')
    
// resests
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: inherit
    -webkit-tap-highlight-color: transparent

body
    box-sizing: border-box
    font-size: 100%
    font-family: 'Roboto Condensed', sans-serif

// variables 
$orange-red: #E76F51
$grey: #E0E0E0 
$dark-grey: #333
$light-blue: #0084FF
$yellow: #f9f107

// classes
.display-block
    display: block !important

.display-flex
    display: flex !important

.display-none
    display: none !important

.burger-active
    z-index: 1001
    .burger-line:first-of-type
        transform: rotate(45deg) translateX(.35rem) 
    .burger-line:nth-of-type(2)
        transform: rotate(-45deg) translateX(.3rem)
    .burger-line:last-of-type
        display: none

.width-70
    width: 70% !important

.opacity-1
    opacity: 1 !important

// actual styling
#backdrop
    display: none
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .4)
    z-index: 999

#main-nav
    height: 4rem
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    background: darken($orange-red, 5%)
    color: $grey
    padding: 0 2rem
    .burger-menu
        display: flex
        flex-direction: column
        gap: .3rem
        width: 2rem
        cursor: pointer
        .burger-line
            width: 100%
            height: .2rem
            background: $grey
            transition: all 300ms linear

#header-ul
    position: absolute
    display: none
    flex-direction: column
    gap: 2rem
    top: 0
    right: 0
    height: 100%
    width: 0
    max-width: 400px
    font-weight: 700
    font-size: 1.25rem
    background: lighten($orange-red, 10%)
    color: $grey
    padding: 2rem
    list-style: none
    z-index: 1000
    transition: all 300ms ease-out
    .header-ul__li:last-of-type
        position: relative
        #progress-bar
            position: absolute
            bottom: -1.55rem
            left: 0            
            width: 4rem
            height: 1.4rem
            border: 2px solid black
            #progress-content
                width: 0
                height: 100%
                background: $light-blue
    .header-ul__li
        text-decoration: underline
        opacity: 0
        cursor: pointer
        transition: opacity 400ms linear
    .active-li
        color: $dark-grey

.section-container
    display: none
    height: calc( 100vh - 4rem )
    width: 100%
    background: $orange-red
    overflow-y: scroll
    h1
        padding: 2rem
        text-align: center
        color: $grey
        .h1-letter
            opacity: 0
            transition: opacity 150ms linear
    .section-content
        // padding: 2rem
        color: darken($grey, 10%)
        font-size: 1.15rem
        width: 100%
        .section-main
            padding: 2rem
            p
                max-width: 550px
                text-indent: 2rem
                line-height: 1.75
                margin: 2rem auto
                .blue-bg
                    background: $light-blue
                    color: white
                    padding: .1rem
                    font-style: italic
                .yellow-bg
                    background: $yellow
                    color: black
                    padding: .1rem
                    font-style: italic
                .underline
                    text-decoration: underline
                .biggersize
                    font-size: 1.4rem
                .bold
                    font-weight: 700
                .darkgrey
                    color: $dark-grey
            img
                display: block
                margin: 1rem auto
                width: 70%
                max-width: 448px
            h2
                padding: 2rem
                text-align: center
        .section-footer
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 2rem
            gap: 1rem
            background: lighten($orange-red,15%)
            p
                margin: 0
                color: darken($dark-grey, 10%)
            a
                text-decoration: none
                color: darken($light-blue, 5%)
                &:hover
                    text-decoration: underline

#Test-EQ
    .section-content
        width: 100%
        height: 100%
        .test-section
            display: none
            width: 100%
            height: 100%
            padding: 2rem
            background: lighten($orange-red, 20%)
            color: $dark-grey
        #test-section__info
            .section-content
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 1rem
                color: $dark-grey
                text-align: center
                .pages-left
                    display: flex
                    flex-direction: column
                    gap: .5rem
                    .page-left
                        color: $orange-red
                        font-weight: 700
        #test-section__buttons
            .section-innerContent
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 2rem
                height: 100%
                .button-section__text
                    font-weight: 700
                    text-align: center
                    max-width: 400px
                #startButton
                    padding: .75rem 1rem
                    background: darken($orange-red, 10%)
                    color: white
                    font-weight: 700
                    border: 0
                    box-shadow: 6px 6px 8px 4px rgba(0, 0, 0, .4)
                    cursor: pointer
                    transition: transform 100ms linear
                    &:active
                        transform: scale(.95)
        #test-section__questions
            .section-content
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 1rem
                padding: 1rem
                background: lighten($orange-red, 10%)
                color: black
                box-shadow: 0 0 8px 8px lighten($orange-red, 5%)
                h2

                    #questionsAnswered
                        color: $yellow
                #questionText
                    text-align: center
                .answers-container
                    display: flex
                    flex-direction: column
                    gap: .5rem
                    .answers-rows
                        display: flex
                        flex-direction: column
                        gap: .5rem
                        .answers-row
                            display: flex
                            flex-direction: column
                            gap: .5rem
                            .answer
                                text-align: center
                                padding: .25rem .75rem
                                background: $orange-red
                                border: 1px solid black
                                border-radius: .5rem
                                box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .4)
                                cursor: pointer
                            .selected-answer
                                background: lighten($yellow, 30%)
                    .answers-row
                        display: flex
                        flex-direction: column
                        gap: .5rem
                        .answer
                            text-align: center
                            padding: .25rem .75rem
                            background: $orange-red
                            border: 1px solid black
                            border-radius: .5rem
                            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .4)
                            cursor: pointer
                        .selected-answer
                            background: lighten($yellow, 30%)
                #answerButton
                    padding: .25rem .75rem
                    border: 1px solid black
                    border-radius: .25rem
                    background: darken($orange-red, 30%)
                    color: white
                    font-weight: 700
                    cursor: pointer
        #test-section__score
            .section-content
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 1rem
                text-align: center
                color: $dark-grey
                max-width: 600px
                margin: auto
                h2
                    #points
                        color: darken($yellow, 20%)
                    #grade
                        color: $light-blue

@media screen and ( max-width: 350px )
    body
        main
            #Test-EQ
                #test-section__questions
                        .section-content
                            #questionText
                                font-size: 1rem

@media screen and ( min-width: 800px )
    body
        header
            #header-ul
                max-width: 600px
                gap: 2.5rem
                padding: 2.5rem 3rem
                font-size: 1.35rem
        main
            .section-container
                h1 
                    font-size: 2.5rem
                .section-main
                    p
                        font-size: 1.25rem
                .section-footer
                    font-size: 1.4rem
            #Test-EQ
                .section-content
                    #test-section__info
                        .section-content
                            font-size: 1.5rem
                    #test-section__buttons
                        .section-innerContent
                            .button-section__text
                                font-size: 1.5rem
                                max-width: 450px
                            #startButton
                                padding: 1rem 2rem
                    #test-section__questions
                        .section-content
                            h2

                                #questionsAnswered

                            #questionText
                                font-size: 1.25rem
                            .answers-container
                                gap: 1.5rem
                                .answers-rows
                                    flex-direction: row
                                    gap: 1.5rem
                                    .answers-row
                                        gap: 1.5rem
                                        .answer
                                            padding: .5rem 1.5rem
                                            
                                .answers-row
                                        
                                        .answer

                            #answerButton
                                padding: .75rem 2rem
                                margin-top: .5rem
                    #test-section__score
                        .section-content   
                            font-size: 1.5rem
                            gap: 3rem

@media screen and ( min-width: 1100px ) 
    body
        main
            #Test-EQ
                .section-content
                    #test-section__buttons
                        .section-innerContent
                            .button-section__text
                                font-size: 1.5rem
                                max-width: 450px
                            #startButton
                                padding: 1rem 2rem
                    #test-section__questions
                        .section-content
                            h2

                                #questionsAnswered

                            #questionText
                                font-size: 1.35rem
                            .answers-container
                                gap: 2rem
                                .answers-rows
                                    flex-direction: row
                                    gap: 2rem
                                    .answers-row
                                        gap: 2rem
                                        .answer
                                            padding: 1rem 2rem
                                            
                                .answers-row
                                        .answer
                                            padding: 1rem 2rem
                            #answerButton
                                padding: 1.25rem 2.25rem
                                margin-top: .5rem                                 